torch~=1.11.0
dgl~=0.6.1
torch-scatter 
torch-sparse 
torch-cluster 
torch-spline-conv 
torch-geometric
optuna
igraph~=0.9.9
graphkernels~=0.2.1
pytorch-lightning
rdflib~=6.1.1
torchmetrics~=0.7.3
tqdm~=4.63.1
scikit-learn~=1.0.2
numpy~=1.20.3
pandas~=1.4.2